<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/homePage4.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>HelpMe | Disaster Relief & Fund Raise</h1>
      <h3>We need your support. Together we can make a difference</h3>
      <br/>
      <a [routerLink]="['/user-login']" class="btn btn-outline-neutral btn-round" *ngIf="!isAuthorized()">Sign Up</a>
      <button [routerLink]="['/feed']" type="button" class="btn btn-danger btn-round">Donate Now</button>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Let's talk about our services</h2>
          <h5 class="description">As one person you can't change the world, But you can change the world of one person.
            Every charitable act is a stepping stone towards heaven. Because there are so many people who need our help
            and no one has ever become poor by giving.</h5>
          <br>
<!--          <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>-->
        </div>
      </div>
      <br/><br/><br/>
      <br/><br/>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-ambulance"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Request services online</h4>
              <p class="description">Allows people to request services online in a secure and user-friendly format.</p>
              <!--                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-money-coins"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Donations and fundraise</h4>
              <p>Organizations can initiate donations and fundraise through the system..</p>
              <!--                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-globe"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Help directly to affected people</h4>
              <p>Volunteering groups will now register with the system to provide direct assistance to people who are
                affected.</p>
              <!--                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="section landing-section">
    <div class="col-md-5 mr-auto ml-auto">
      <h2 class="title">People Affected Map</h2>
    </div>
    <app-affected-map></app-affected-map>
  </div>
</div>
