<div class="request-help-page">
  <div class="filter"></div>
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Request Help</mat-card-title>
    <div style="display:flex; flex-direction: row;">
      <mat-card-content class="text-field-content">
        <form #helpRequestForm="ngForm" (ngSubmit)="requestHelp(helpRequestForm)">
          <mat-form-field appearance="fill">
            <mat-label>Choose an option</mat-label>
            <mat-select [disabled]="disableSelect.value">
              <mat-option *ngFor="let helpType of helpTypes"
                          (click)="selectChangeHandler(helpType.uuid)"
                          value="helpType.uuid">
                {{helpType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Action Needed"
              required
              name="actionName"
              ngModel
              #actionName="ngModel">
            <mat-icon matSuffix>info</mat-icon>
            <mat-error
              *ngIf="actionName.invalid">
              this field is required
            </mat-error>

          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Contact Number"
              required
              name="contactNumber"
              ngModel
              #contactNumber="ngModel">
            <mat-icon matSuffix>call</mat-icon>
            <mat-error
              *ngIf="contactNumber.invalid">
              this field is required
            </mat-error>

          </mat-form-field>
          <mat-form-field>
            <textarea matInput
                      placeholder="Description of disaster"
                      required
                      name="description"
                      ngModel
                      #description="ngModel"></textarea>
            <mat-error *ngIf="description.invalid">This field is required</mat-error>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
          <button
            mat-raised-button
            color="warn"
            class="login-button">
            Request Help
          </button>
        </form>
      </mat-card-content>
      <mat-card-content class="map-content">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
          <agm-marker [latitude]="lat" [longitude]="lng">

          </agm-marker>
        </agm-map>
      </mat-card-content>
    </div>
  </mat-card>
</div>
