.navbar-background{
  background: #0b1011;
}

.navbar-font-custom {
  background: white;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: black;
  opacity: 0.4;
}

.logo-mini{
  height: auto;
  width: 40px;
}
