<h2>Help Requests</h2>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile *ngFor="let card of pendingHelpRequests">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" >
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-title>{{card.userScreen.userName}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card class="donation-info">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" >
              <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Fund request raised</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="raised-amount">1002LKR Raised</p>
            <mat-card-actions class="action-footer">
              <button mat-raised-button color="primary" class="donate-button">Donate</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
