<h2>Help Requests</h2>
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile *ngFor="let card of pendingHelpRequests">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <ngx-avatar name={{card.userScreen.userName}} value="28%" bgColor="#1976d2" fgColor="#fafafa" size=40
                        [round]="true"></ngx-avatar>
          </div>
          <mat-card-title>{{card.userScreen.userName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{card.helpRequestScreen.affectedAreaImageUrl}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h6><b>{{card.helpRequestScreen.name}}</b></h6>
          <p>
            {{card.helpRequestScreen.description}}
          </p>
        </mat-card-content>
        <mat-card class="donation-info" *ngIf="isUser()">
          <div>
            <mat-divider></mat-divider>
            <br>
            <h6>Fund request raised by</h6>
            <h4>{{card.organizationScreen.name}}</h4>
            <h6>{{card.organizationScreen.location}}</h6>
            <br>
            <!--          <mat-card-header>-->
            <!--            <div mat-card-avatar class="example-header-image" >-->
            <!--&lt;!&ndash;              <img mat-card-avatar src="https://image.flaticon.com/icons/png/512/2891/2891526.png" alt="Photo of a Shiba Inu">&ndash;&gt;-->
            <!--            </div>-->
            <!--          </mat-card-header>-->
            <mat-card-content>
              <mat-card-subtitle class="raised-amount">Current donations - {{card.fundRequestScreen.fundRaisedAmount}} USD</mat-card-subtitle>
              <mat-card-actions class="action-footer">
                <button (click)="onSubmit(card)" mat-raised-button color="primary" class="donate-button">Donate
                </button>
              </mat-card-actions>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
