<footer class="footer">
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">HelpMe</h2>

                        <h3 class="title">About Us</h3>
                        <p class="description">
                            As one person you can't change the world, But you can change the world of one person. Every charitable act is a stepping stone towards heaven. Because there are so many people who need our help and no one has ever become poor by giving.
                        </p>

                        <h3 class="title">Contact Us</h3>
                        <p class="description">
                            <i class="nc-icon nc-email-85"></i> helpMe@gmail.com
                        </p>
                        <p class="description">
                            <i class="nc-icon nc-mobile"></i> 077 1875611
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-ambulance"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-world-2"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-planet"></i>
                            <i class="nc-icon nc-tie-bow"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <br>
                        <p class="description">
                            Copyright © 2021 HelpMe, All rights reserved
                        </p>
                    </div>
                </div>

            </div>
    </div>
</footer>
