<div class="transaction-page">
  <mat-card class="mat-elevation-z13">
    <mat-card-title style="text-align:center;"></mat-card-title>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-avatar src="./assets/img/homePage2.jpg"
             alt="Photo of a Shiba Inu">
      </div>
      <mat-card-title>Donate Now</mat-card-title>
      <mat-card-subtitle>Donate for Covid Pandemic</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/img/homePage2.jpg" alt="Photo of a Shiba Inu">
    <div style="display:flex; flex-direction: row;">
    <mat-card-content class="payment-content">
      <h5><b>Affected User Description</b></h5>
      <p>
        Lakitha Prabudh Harshitha
      </p>
      <p>
        663/1, Bambalapitiya, Colombo.
      </p><br>
      <h5><b>Fund Requested Organization Details</b></h5>
      <p>
        Green Labs (pvt) LTD
      </p>
      <p>
        Colombo, Sri Lanka.
      </p>
    </mat-card-content>
    <mat-card-content class="payment-content">
      <h5><b>Affected Location</b></h5>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
        <agm-marker [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>
    </mat-card-content>
    </div>
    <mat-card-content class="payment-content">
      <p class="raised-amount">1002LKR Raised</p>
      <mat-card-actions class="action-footer">
        <div id="paypal-buttons"></div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
